<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.redis.dao.AppUserDao">
    <resultMap id="BaseResultMap" type="com.example.redis.bean.AppUserBean">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="we_chat_id" property="weChartId" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, nickname, gender, phone, email, we_chat_id
    </sql>

    <select id="getAppUserById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_user
        where id = #{appUserId, jdbcType=BIGINT}
    </select>

</mapper>